absl-py==1.4.0
altair==5.5.0
attrs==25.3.0
bcrypt==4.3.0
beautifulsoup4==4.12.2
blinker==1.9.0
cachetools==5.3.0
certifi==2022.12.7
cffi==1.16.0
chromadb==1.0.20
click==8.2.1
cloudpickle==3.0.0
coloredlogs==15.0.1
contourpy==1.0.7
cycler==0.11.0
defusedxml==0.7.1
dill==0.3.7
et-xmlfile==1.1.0
faiss-cpu==1.7.4
flatbuffers==25.2.10
fpdf2==2.8.4
fsspec==2025.9.0
fonttools==4.39.4
GitPython==3.1.31
google-auth==2.18.0
google-auth-oauthlib==1.0.0
graphviz==0.5.1
grpcio==1.74.0
httpx==0.28.1
huggingface-hub==0.34.4
idna==3.4
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.25.1
matplotlib==3.7.1
networkx==3.0rc1
nltk==3.9.1
numpy==1.26.3
onnxruntime==1.22.1
openai==1.102.0
opencv-python==4.7.0.72
openpyxl==3.1.2
orjson==3.11.3
pandas==2.0.1
Pillow==9.3.0
protobuf==6.32.0
psutil==5.9.5
pyarrow==21.0.0
pydantic==2.11.7
pydeck==0.9.1
PyPDF2==3.0.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
python-docx==1.2.0
python-dotenv==1.1.1
PyYAML==6.0
reportlab==4.4.3
requests==2.28.1
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
sentence-transformers==5.1.0
shap==0.44.1
statsmodels==0.14.0
streamlit==1.48.1
sympy==1.14.0
tenacity==9.1.2
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
transformers==4.56.1
tqdm==4.67.1
tslearn==0.6.2
ultralytics==8.0.98
xgboost==2.0.2

